#certificates {
    opacity: .5;
    float: right;
    margin-top: -64px;
    
}
#certificates2 {
    opacity: .5;
    float: right;
    margin-top: -30px;
    
}
#Cancel {
    border: 1px solid darkorange;
}

#Cancel:hover {
    background: darkorange;
}
.nav-link{
    color: white;
}